Flask==2.3.2
Flask-Cors==4.0.0
Werkzeug==2.3.8
numpy==1.26.4
Pillow==10.1.0

# ML dependencies
scikit-learn==1.2.2
joblib==1.3.2

# Audio + Speech
pyttsx3==2.90
SpeechRecognition==3.10.0

# OpenAI
openai==1.32.0
python-dotenv==1.0.1
